    .category-card {
        background: #fff;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: 10px;
        width: fit-content;
        /* border: 1px solid #eee; */
    }

    .category-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
        background: linear-gradient(135deg, #795c447c 0%, #f8ddc8 100%);
        color: #fff;
    }

    .category-card .icon-wrapper {
        font-size: 25px;
        color: #795c4478;
        transition: color 0.3s;
    }

    .icon-wrapper {
        border-right: 1px solid #a671469a;
        padding-right: 10px
    }

    .category-card:hover .icon-wrapper {
        color: #fff;
    }

    .category-card:hover .category-name {
        color: #fff;
    }

    .category-name {
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #795c44;
        font-family: 'merienda', cursive;
    }

    .category-scroll1 {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
        padding-bottom: 8px;
    }

    /* For smooth look */
    .category-scroll::-webkit-scrollbar {
        height: 6px;
    }

    .category-scroll1::-webkit-scrollbar-thumb {
        background: #c3a68b;
        border-radius: 10px;
    }

    .category-scroll1::-webkit-scrollbar-track {
        background: #f4ece4;
    }

    /* Prevent cards from wrapping */
    .category-scroll1>div {
        flex: 0 0 auto;
        /* prevents shrinking */
    }

    /* Optional — give a little hover effect */
    .category-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .category-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    }
