/* home page */
.blog-heading {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #795c45;
}

@media (max-width:600px) {
    .header_one img {
        max-height: 60px;
    }

    .social-icons a {
        font-size: 10px;
        padding: 3px;
    }

    .social-icons {
        column-gap: 9px;
    }

    .sliding-blog {
        border-radius: 0px;
    }

    .head-links {
        font-size: 10px;
        padding: 4px 0px;
    }

    .scroll-btn {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }

    .Cursor {
        display: none;
    }

    .caption-title {
        font-size: 20px !important;
    }

    .caption-text {
        font-size: 10px !important;
    }

    .trend-date {
        font-size: 9px !important;
    }

    .read-btn {
        font-size: 9px;
        padding: 5px 5px !important;
        font-weight: 200 !important;
        font-family: merienda !important;
        margin-top: 0px !important;
    }

    .trend-title {
        font-size: 16px !important;
    }

    .trend-img {
        width: 60px !important;
        height: 69px !important;
    }

    .blog-heading {
        font-size: 20px !important;
        padding: 1px 7px 8px 7px !important;
        line-height: 15px !important;
    }

    .img-ps1 {
        height: 150px !important;
    }

    .crd_ttl_ps1 {
        font-size: 20px !important;
        margin-bottom: 0px !important;
    }

    .crd_txt_ps1 {
        font-size: 11px !important;
    }

    .crd_date_ps1 {
        font-size: 11px !important;
        margin-top: 3px !important;
        padding-top: 3px !important;
    }

    .tab-nav-link {
        padding: 5px 10px !important;
        font-size: 12px;
    }

    .tab-card-body h5 {
        font-size: 16px !important;
    }

    .tab-card-body p {
        font-size: 11px !important;
    }

    .tab-blog-footer {
        font-size: 10px !important;
    }

    .trend-img-grid {
        height: 150px !important;
    }

    .category-card .icon-wrapper {
        font-size: 18px !important;
    }

    .category-name {
        font-size: 13px !important;
    }

    .category-scroll1 {
        padding-bottom: 0px !important;
    }

    .foot_logo {
        width: 25% !important;
    }

    .logo {
        text-align: center;
    }

    .slinks {
        margin-top: 15px !important;
        font-size: 17px !important;
        font-weight: 200 !important;
    }

    .sl-ink .social-icons a {
        padding: 6px !important;
    }

    .cinematic-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px !important;
    }
}
